.navbar {
  padding: 20px;
  /* Adjust for better spacing */
}

html {
  scroll-behavior: smooth; /* Add smooth scroll behavior */
}

/* Remove global transition rule */

@media (max-width: 768px) {
  .navbar {
    padding: 15px;
  }
  /* Tablet breakpoint */
}